* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.breadcrumb {
    background-image: url('../img/women.jpg');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 240px;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.ant-breadcrumb-link,
.ant-breadcrumb-separator {
    color: white !important;
}

ol {
    justify-content: center;
}

@media(max-width:768px) {
    .breadcrumb {
        padding-top: 120px;
    }
}