*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about{
    background-color: black !important;
}

.about-btn{
    border: 2px solid white;
    text-decoration: none;
    color: white;
    padding: 10px 35px;
    font-size: 21px;
}

.about-btn:hover{
    background-color: #c58265 ;
    color: white;
    transition: 0.4s;
}

.about-con h1{
    text-transform: uppercase;
    font-size: 36px;
}

.about-con p{
    opacity: 0.7;
    margin-bottom: 40px;
    margin-top: 15px;
}

.about-con{
    text-align: right;
    color: white;
    margin: auto 0;    
}

.about-img{
    position: relative;
    max-width: 100%;
    height: auto;
}

@media(max-width:992px){
    .about-con{
        text-align: center;
        padding-top: 20px;
    }
}